<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bihell.dice.mapper.auth.AuthRoleMapper">

    <resultMap id="ResultMap" type="com.bihell.dice.model.auth.AuthRole">
        <id column="role_id" property="id" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_type" property="roleType" jdbcType="INTEGER"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
        <result column="project_type" property="projectType" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>

        <result column="user_count" property="userCount" jdbcType="INTEGER"/>

        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByParam" parameterType="com.bihell.dice.model.params.QueryParam" resultMap="ResultMap">
        SELECT t.*,t1.user_count
        FROM auth_role t
        left join (select role_id,count(1) user_count from auth_rel_role_user where status=1 group by role_id) t1 on
        t.role_id=t1.role_id
        <where>
            t.status = 1
            <if test="queryParam.criteria != null and queryParam.criteria.length()>0">AND (t.role_name like concat("%",#{queryParam.criteria},"%"))</if>
            <if test="queryParam.userId != null">and t.role_id in (select distinct role_id from auth_rel_role_user where status=1 and
                user_id=#{queryParam.userId} )
            </if>
            <if test="queryParam.roleType != null">and t.role_type = #{queryParam.roleType}</if>
            <if test="queryParam.userType != null">and t.user_type = #{queryParam.userType}</if>
            <if test="queryParam.projectType != null and queryParam.projectType.length()>0">and t.project_type = #{queryParam.projectType}</if>
        </where>
        ORDER BY t.role_id desc
    </select>

</mapper>
