<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bihell.dice.system.mapper.SysMenuMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id, route_path, code, icon, type, level, status, sort, remark, version, create_time, update_time
    </sql>

    <select id="getSysPermissionById" resultType="com.bihell.dice.system.vo.SysPermissionVo">
        select
        <include refid="Base_Column_List"/>
        from sys_menu where id = #{id}
    </select>

    <select id="getSysPermissionPageList" resultType="com.bihell.dice.system.vo.SysPermissionVo">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
    </select>

    <select id="getPermissionCodesByUserId" resultType="java.lang.String">
        select
               p.code
        from sys_user u
        inner join sys_user_role t1 on t1.user_id = u.id
        inner join sys_role r
                on t1.role_id = r.id
        inner join sys_role_menu rp
                on r.id = rp.role_id
        inner join sys_menu p
                on rp.permission_id = p.id
        where u.status = 1
          and r.status = 1
          and rp.status = 1
          and p.status = 1
          and u.is_deleted = 0
          and u.id = #{userId};
    </select>

    <select id="getMenuListByUserId" resultType="com.bihell.dice.system.entity.SysMenu">
        select p.*
        from sys_user u
                 inner join sys_role r
                            on u.role_id = r.id
                 inner join sys_role_menu rp
                            on r.id = rp.role_id
                 inner join sys_menu p
                            on rp.permission_id = p.id
        where u.status = 1
          and u.is_deleted = 0
          and r.status = 1
          and rp.status = 1
          and p.status = 1
          and u.id = #{userId}
    </select>

</mapper>
