dice:
  # 当前环境服务IP地址
  server-ip: 172.28.1.3
  # 生产环境禁用Swagger
  swagger:
    enable: false
  # AOP配置
  aop:
    log:
      enable: true
      log-print-type: NONE
      request-log-format: false
      response-log-format: false

spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://dice-mysql:3306/dice?useUnicode=true&characterEncoding=utf-8&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
  output:
    ansi:
      enabled: never
  redis:
    host: dice-redis
